<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
    <h2 class="margin">Add Sales</h2>
    <h4 id='warning'>{{messages.warning}}</h4>

</div>
<div class="divMan">
	<div class="divBoy">
    <form class="form_text" role="form" action="/sales/add" method="POST">
        <div class="form-group">
            <label for="des">Date</label>
            <input type="date" class="form-control" name="Date" value="{{salesData.Date}}" placeholder="DD-MM">
        </div>
        <div class="form-group">
            <label for="des">Quantity</label>
            <input type="text" class="form-control" name="Quantity" value="{{salesData.Quantity}}">
        </div>
        <div class="form-group">
            <label for="des">Price</label>
            <input type="text" class="form-control" name="Price" value="{{salesData.Price}}">
        </div>
        <div class="form-group">
            <label for="des">Product Name</label>
              <select id="btn-primary2" class="form-control" name="id">
                {{#products}}
                <option  value="{{Product_ID}}">{{Product}}</option>
                {{/products}}
              </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</div>
</div>
