<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
    <h2 class="margin">Edit Purchases</h2>
    <h4 id='warning'>{{messages.warning}}</h4>
</div>
<div class="divMan">
	<div class="divBoy">
<form class="form_text" role="form" action="/purchases/update/{{data.Purchases_ID}}" method="POST">

	<div class="form-group">
		<label for="des">Shop</label>
		<input type="text" class="form-control" name="Shop" value="{{data.Shop}}">
	</div>

	<div class="form-group">
		<label for="des">Date</label>
		<input type="date" class="form-control" name="Date" value="{{data.Date}}">
	</div>

	<div class="form-group">
		<label for="des">Quantity</label>
		<input type="text" class="form-control" name="Quantity" value="{{data.Quantity}}">
	</div>

	<div class="form-group">
		<label for="des">Cost Per Item</label>
		<input type="text" class="form-control" name="CostPerItem" value="{{data.CostPerItem}}">
	</div>

  <input type="hidden" name="Purchases_ID" value="{{data.Purchases_ID}}">
  <div id="option" class="form-group">
    <label for="des">Product Name</label>
    <select id="btn-primary2" class="form-control" name="ProductID">
      {{#products}}
      <option  {{selected}} value="{{Product_ID}}">{{Product}}</option>
      {{/products}}
    </select>
  </div>

	<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
