<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
    <h2 class="margin">Products</h2>
</div>

<div id="output">
  <div class="table-responsive">
        <div class="form-group pull-left">
            <input type="text" id="form-control" class="search form-control" placeholder="What you looking for?">
        </div>
        <span class="counter pull-left"></span>
        <p>

        </p>
        <table id="tttt" style="width:100%" class="table table-hover results">
            <thead>
                <tr id="table1" id="Heading">
                    <th id="table1">Product Name</th>
                    <th id="table1">Category Name</th>
                    {{#if is_admin}}
                    <th id="table1"></th>
                    <th id="table1">
                      <a style="color:white" class="btn btn-success btn-block" href="/products/add">
                        <span class="glyphicon glyphicon-plus">
                        </span> Add a Product
                      </a>
                    </th>
                    {{else}}
                    <th id="table1"></th>
                    {{/if}}
                </tr>
                <tr id="table1" class="warning no-result">
                  <td id="table1" colspan="4"><i class="fa fa-warning"></i> No result</td>
                </tr>
            </thead>
            <tbody>
                <tr id="table1" class="results">
                    {{#products}}
                        <td id="table1">{{Product}}</td>
                        <td id="table1">{{Category}}</td>
                        {{#if ../is_admin}}
                        <td id="table1" class="para">
                            <strong>
                              <span style="color:#00adc8">
                                <a type="button" class="btn btn-raised btn-warning" href="/products/edit/{{Product_ID}}">
                                  <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                              </span>
                            </strong>
                        </td>
                        <td id="table1" class="para">
                            <a type="button" class="btn btn-danger" href="/products/delete/{{Product_ID}}">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                        {{else}}
                        <td id="table1"></td>
                        {{/if}}

                </tr>
            </tbody>
            {{/products}}
        </table>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
  $(".search").keyup(function () {
    var searchTerm = $(".search").val();
    var url = '/products/search';
    $.ajax(url, {
      data : {
        value : searchTerm
      },
      type : 'POST',
      success : function(response){
        console.log(response);
        $(".results").html(response);
      }
    });
  });
});
</script>

{{#no_products}}
    <p>No products available yet. Add some above.</p>
{{/no_products}}
