<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
    <h2 class="margin">Register</h2>
    <h4 id='warning'>{{messages.warning}}</h4>
</div>
{{#if msg}}
    <div class="message">
      {{msg}}
    </div>
  {{/if}}

<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form role="form" class="form-horizontal" action="/users/add" method="POST">
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="{{userData.username}}" placeholder="Username" class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="email" id="email" name="email" value="{{userData.email}}" placeholder="Email" class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="password" id="password" name="password" value="{{password}}" placeholder="Password" class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="password" id="password_confirm" name="password_confirm" value="{{password_confirm}}" placeholder="Confirm Password"
                                        class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button type="reset" class="btn btn-success">Cancel</button>
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row101">
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/img/ProjectcodeX3.png" alt="Sk">
                    </a>
                </div>

                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/img/sideNav1.png" alt="Sk">
                    </a>
                </div>
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/img/radlee1.png" alt="Sk">
                    </a>
                </div>

            </div>
            </div>
    </div>

</div>
